#root h2 {
  margin: 0;
}

#root{
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 413px) {
  #root{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
  }
}

.closeSvg{
  cursor: pointer;
  position:relative;
  left: 80%;
  top: 10px;
}

.hamburgSvg{
  position: absolute;
  left: 10px;
  top: 15.5px;
  cursor: pointer;
  transition: transform linear 0.2s;
}

.nav{
  list-style: none;
  position: absolute;
  background: #cacaca;
  left: 0;
  top: 20px;
  width: 0;
  height: 100%;
  overflow: hidden;
  max-width: 80vw;
  overflow: hidden;
  z-index: 9;
  transform: translateX(-100px);
  transition: all ease-in-out 0.2s;
  padding: 8px;
}

.nav.show{
  width: 100%;
  transform: translateX(0px);
}

.nav .-bar{
  background: #cacaca;
}

.side-bar{
  background-color: #ebebeb;
  padding: 5px;
}

.side-bar div{
  cursor: pointer;
  transition: background-color linear 0.1s;
}

.side-bar div:hover{
  background-color: #cacaca;
}
.side-bar div:active{
  background-color: #cacaca;
}

.side-bar b{
  margin: 8px 0;
  display: inline-block;
}

.body{
  padding-left: 10px;
}
